<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.study.rcptutorial01.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.study.rcptutorial01.Perspective"
            id="com.study.rcptutorial01.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.o7planning.tutorial.rcp.cmd.AboutCommand"
            id="org.o7planning.tutorial.rcp.cmd.about"
            name="About">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File"
               tooltip="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push"
                  tooltip="Exit">
            </command>
         </menu>
         <menu
               label="Help"
               tooltip="Help">
            <command
                  commandId="org.o7planning.tutorial.rcp.cmd.about"
                  label="About"
                  style="push"
                  tooltip="About">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
